/* contact me page */
body {
    margin: 0;
}

.container {
    display: grid;
    height: 100vh;
    grid-template-rows: 0.25fr 0.8fr 2fr 0.5fr;
    grid-template-columns: 1fr;
    font-family: 'Raleway', sans-serif;
    color: #636161;
    
}

.header-1 {   
    background: #9389BE;
    border: 1px solid white;
    grid-row: 1 / 2;
}

.header-2 {
    background-image: url("/statics/docs/feathers.jpg");
    background-image: no-repeat;
    background-size: cover;
    background-position: center center;
    grid-row: 2 / 3;
    position: relative;
    z-index: -1;
    text-align: center;
    color: white;
}

.main img {
    margin-top: -100px;
    object-fit: none;
    border-radius: 80%;
    border: 1px solid white;
    display: block;
    margin-left: auto;
    margin-right: auto;
    overflow: hidden; 
    width: 200px;
    height: 200px;
    margin-bottom: 0px;
}

ul{ 
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.nav-bar-desktop {
    flex-wrap: wrap;
    position: absolute;
    top: 130px;
    right: 10px;
    text-align: right;
    }  

    .nav-bar-desktop li{
        flex-flow: row wrap;    
        display: inline-flex;
    
        }

    .submission-form{
        max-width:50%;
        margin:2rem auto;
        padding:2rem;
        border-radius:5px;
    }

    label {
        display:block;
        padding:1rem 0 .25rem;
        text-transform:uppercase;
        font-size:18px;
        }

        input. textarea{
        display:block;
        width:100%;
        border:1px solid #636161;
        padding:.5rem;
        font-size:18px;
        border-radius:10px;
        }
            
        
          
          #sendBtn{
            display: block;
            font-size: 15px;
            border:0;
            background:#9389BE;
            padding:.5rem;
            color:white;
            margin:1rem 0;
            width:100px;
            text-transform:uppercase;
            cursor:pointer;
            transition:.3s background ease;
            &:hover{
              background:#3498DB;
            }
          }

.footer{
        background: #9389BE;
        align-items: center;
        display: flex;
        justify-content: center;
        grid-row: 4 / 5;
}