/* home page */
body {
    margin: 0;
    padding: 0; /* added */
    background: white; /* added */
}

.container {
    display: grid;
    height: 100vh;
    grid-template-rows: 0.25fr 0.8fr 2fr 0.5fr;
    grid-template-columns: 1fr;
    font-family: 'Raleway', sans-serif;
    color: #636161;
    
}

.header-1 {   
    background: #C3B4C1;
    border: 1px solid white;
    grid-row: 1 / 2;
}

.header-2 {
    background-image: url("/statics/docs/feathers.jpg");
    background-image: no-repeat;
    background-size: cover;
    background-position: center center;
    grid-row: 2 / 3;
    position: relative;
    z-index: -1;
    text-align: center;
    color: white;
}

.main img {
    margin-top: -100px;
    object-fit: none;
    border-radius: 80%;
    border: 1px solid white;
    display: block;
    margin-left: auto;
    margin-right: auto;
    overflow: hidden; 
    width: 200px;
    height: 200px;
    margin-bottom: 0px;
}

.quote-mobile {
    position: absolute;
    bottom: 70px;
    left: 14px;
    text-align: left;
    font-style: italic;
    font-family: 'Raleway', sans-serif;
    color: white;
    font-size: 18px;
}

  ul{ 
    list-style-type: none;
    margin: 0;
    padding: 0;
}

/* desktop screen */
@media only screen and (min-width: 600px){
    .nav-bar-mobile {
        display: none; 
        grid-row: 3 / 4;
    }

    .quote-mobile {
        display: none;
        grid-row: 2 / 3; 
    }

 }


 .nav-bar-desktop {
    display: flex;
    flex-wrap: wrap;
    position: absolute;
    bottom: 530px;
    right: 10px;
    text-align: right;
    }  

    .nav-bar-mobile {
        position: center;
        margin-top: 55px;
        bottom: 665px;
        right: 10px;
        text-align: center;
        font-size: 35px;
        color: #636161;
        line-height: 2;
        } 

   .nav-bar-desktop li{
    flex-flow: row wrap;    
    display: inline-flex;

    }

    .quote-desktop {
        position: center;
        bottom: 250px;
        left: 16px;
        text-align: center;
        font-style: italic;
        font-family: 'Raleway', sans-serif;
        color: #636161;
        font-size: 15px;
        line-height: 1.6;
    }


/* mobile screen */
@media only screen and (max-width: 600px){
    .nav-bar-desktop {
        display: none;
        grid-row: 3 / span 1;
        }  
    
    .quote-desktop{
        display: none;
        grid-row: 3 / span 1;
    }

}

.footer{
        background: #C3B4C1;
        align-items: center;
        display: flex;
        justify-content: center;
        grid-row: 4 / 5;
}



/* added: trialling lightening animate */
.quote-desktop ul{
    /* position: absolute; */
    transform: translatic(-50%, -50%);
    /* margin: 0; */
    /* padding: 0; */
    margin-top: 50px;
    display: block;
    text-align: center;
}

.quote-desktop ul li{
    list-style: none;
    font-family: 'Raleway', sans-serif;
    font-size: 40px;
    line-height: 1.6;
    color: #636161;
    text-shadow: none;
    animation: animate 1s infinite linear;

}

@keyframes animate{
0% {
    color: #636161;
    text-shadow: none;
}
18% {
    color: #636161;
    text-shadow: none;
}
20% {
    color: #000000;
    text-shadow: 0 0 7px #000000, 0 0 20px #f2f2f2;
}
30% {
    color: #636161;
    text-shadow: none;
}
35% {
    color: #000000;
    text-shadow: 0 0 7px #000000, 0 0 20px #f2f2f2;
}
70% {
    color: #636161;
    text-shadow: none;
}
85% {
    color: #000000;
    text-shadow: 0 0 7px #000000, 0 0 20px #f2f2f2;
}
90% {
    color: #636161;
    text-shadow: none;
}
100% {
    color: #636161;
    text-shadow: none;
}
}

.quote-desktop ul li:nth-child(1) {
    animation-delay: .2s;
}

.quote-desktop ul li:nth-child(2) {
    animation-delay: .4s;
}

.quote-desktop ul li:nth-child(3) {
    animation-delay: .6s;
}

