/* work page */
body {
    margin: 0;
}

.container {
    display: grid;
    height: 100vh;
    grid-template-rows: 0.25fr 0.8fr 2fr 0.5fr;
    grid-template-columns: 1fr;
    font-family: 'Raleway', sans-serif;
    color: #636161;
    
}

.header-1 {   
    background: #C3B4C1;
    border: 1px solid white;
    grid-row: 1 / 2;
}

.header-2 {
    background-image: url("/statics/docs/feathers.jpg");
    background-image: no-repeat;
    background-size: cover;
    background-position: center center;
    grid-row: 2 / 3;
    position: relative;
    z-index: -1;
    text-align: center;
    color: white;
}

.main img {
    margin-top: -100px;
    object-fit: none;
    border-radius: 80%;
    border: 1px solid white;
    display: block;
    margin-left: auto;
    margin-right: auto;
    overflow: hidden; 
    width: 200px;
    height: 200px;
    margin-bottom: 0px;
}

ul{ 
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.nav-bar {
    flex-wrap: wrap;
    position: absolute;
    bottom: 665px;
    right: 10px;
    text-align: right;
    } 

.work {
    position: center;
    bottom: 250px;
    left: 16px;
    text-align: center;
    font-style: italic;
    font-family: 'Raleway', sans-serif;
    color: #636161;
    font-size: 50px;
    line-height: 1.6;
    }

    .footer{
        background: #C3B4C1;
        align-items: center;
        display: flex;
        justify-content: center;
        grid-row: 4 / 5;
}